<div>
  <h1 class="font-bold text-3xl">Articles</h1>
  <div>
    <ul class="list-disc ml-10 mt-5">
      <% @articles.each do |article| %>
        <li>
          <%= link_to article.title, article %>
        </li>
      <% end %>
    </ul>
  </div>
  <br>
  <%= link_to "New Article", new_article_path %>
</div>

<div class="max-w-lg mx-auto mt-16 text-center max-w-sm rounded overflow-hidden shadow-lg p-10">
  <h1 class="mb-4 text-3xl font-black">Here are all our Articles!</h1>
  <p class="text-lg leading-snug">If this looks nice, it means Tailwind is set up properly.</p>
</div>
